body {
  background-color: rgb(17, 10, 82);
  color: rgb(228, 236, 236);
}

.window {
  background-color: rgb(30, 18, 139);
  font-family: sans-serif;
  max-width: 1200px;
  margin: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

h1, .centre {
  text-align: center;
}

.columns, #user-weight {
  display: inline-block;
  text-align: center;
  width: 39%;
  margin-left: 5%;
  margin-right: 5%;
}

#planets {
  display: inline-block;
  text-align-last: left;
  width: 39%;
  margin-left: 5%;
  margin-right: 5%;
}

#user-weight, #planets {
  background-color: rgb(17, 10, 82);
  color: rgb(228, 236, 236);
}

.columns {
  font-size: large;
}

#remove-pluto {
  text-align-last: left;
  margin-left: 55%;
  margin-bottom: 20px;
}

#output, #calculate-button {
  margin-top: 20px;
  font-size: x-large;
}

#calculate-button {
  padding-top: 0.75%;
  padding-bottom: 0.75%;
  padding-left: 1.75%;
  padding-right: 1.75%;
  font-weight: bold;
  background-color: rgb(17, 10, 82);
  color: rgb(228, 236, 236);
}

#calculate-button:active {
  background-color: rgb(30, 18, 139);
}

#custom-planet {
  margin-top: 40px;
  display: inline-block;
  text-align: left;
  width: 60%;
  margin-left: 5%;
}

#new-planet-name, #new-planet-multiplier {
  width: 25%;
}

input[type="checkbox"]:checked ~ .hide {
  visibility: visible;
}

.hide {
  visibility: hidden;
}